:root {
  --color_white: #FFFFFF;
  --color_gray100: #F4F4F4;
  --color_gray200: #E5E5E5;
  --color_gray300: #AAAAAA;
  --color_gray400: #767676;
  --color_gray600: #393939;
  --color_gray700: #202020;
  --color_gray800: #151515;
  --color_gray900: #0C0910;
  --color_black: #000000;

  --color_primary: #E40C6D;
  --color_primaryHover: #C10B5D;
  --color_primaryActive: #9A094A;

  --color_blackBorder: #00000040;
  --color_whiteBorder: #FFFFFF40;

  --family_body: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  --family_header: 'Almarai', var(--family_body);

  --letter_header: -0.05em;

  --weight_400: 400;
  --weight_600: 600;
  --weight_800: 800;

  --px_8: 0.5rem;
  --px_12: 0.75rem;
  --px_14: 0.875rem;
  --px_16: 1rem;
  --px_24: 1.5rem;
  --px_32: 2rem;
  --px_48: 3rem;
  --px_96: 6rem;

  --font_title: var(--px_48);
  --font_h1: var(--px_32);
  --font_label: var(--px_14);
  --font_sublabel: var(--px_12);
  --font_linkGroupLabel: var(--px_12);
  --font_linkLabel: var(--px_16);

  --duration_100: 100ms;
}

/* LIGHT MODE */
:root {
  --color_background: var(--color_white);
  --color_border: var(--color_blackBorder);
  --color_text: var(--color_black);
  --color_textSecondary: var(--color_gray400);
  
  --button_secondaryText: var(--color_black);
  --button_secondaryBg: var(--color_white);
  --button_secondaryBgHover: var(--color_gray100);
  --button_secondaryBgActive: var(--color_gray200);
  --button_secondaryBorder: var(--color_blackBorder);

  --sidebarLink_bg: var(--color_gray100);
  --sidebarLink_hoverBg: var(--color_white);
  --sidebarLink_activeBg: var(--color_white);
  --sidebarLink_selectedBg: var(--color_white);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --color_background: var(--color_gray900);
    --color_border: var(--color_whiteBorder);
    --color_text: var(--color_white);
    --color_textSecondary: var(--color_gray300);

    --button_secondaryText: var(--color_white);
    --button_secondaryBg: var(--color_black);
    --button_secondaryBgHover: var(--color_gray700);
    --button_secondaryBgActive: var(--color_gray600);
    --button_secondaryBorder: var(--color_whiteBorder);

    --sidebarLink_bg: var(--color_black);
    --sidebarLink_hoverBg: var(--color_gray700);
    --sidebarLink_activeBg: var(--color_gray700);
    --sidebarLink_selectedBg: var(--color_gray700);
  }
}

/* RESETS */
html {
  height: 100%;
  color: var(--color_text);
  background-color: var(--color_background);
}

body {
  height: 100%;
  font-family: var(--family_body);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

/* LAYOUT */
.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.row.align_left { justify-content: flex-start; }
.col.align_left { align-items: flex-start; }
.row.align_cx { justify-content: center; }
.col.align_cx { align-items: center; }
.row.align_right { justify-content: flex-end; }
.col.align_right { align-items: flex-end; }

.row.align_top { align-items: flex-start; }
.col.align_top { justify-content: flex-start; }
.row.align_cy { align-items: center; }
.col.align_cy { justify-content: center; }
.row.align_bottom { align-items: flex-end; }
.col.align_bottom { justify-content: flex-end; }

.align_center { justify-content: center; align-items: center; }

.gap_8 { gap: var(--px_8); }
.gap_12 { gap: var(--px_12); }
.gap_16 { gap: var(--px_16); }
.gap_24 { gap: var(--px_24); }
.gap_32 { gap: var(--px_32); }
.gap_48 { gap: var(--px_48); }

.pad_8 { padding: var(--px_8); }
.pad_12 { padding: var(--px_12); }
.pad_16 { padding: var(--px_16); }
.pad_24 { padding: var(--px_24); }
.pad_32 { padding: var(--px_32); }
.pad_48 { padding: var(--px_48); }

.padX_8 { padding-left: var(--px_8); padding-right: var(--px_8); }
.padX_12 { padding-left: var(--px_12); padding-right: var(--px_12); }
.padX_16 { padding-left: var(--px_16); padding-right: var(--px_16); }
.padX_24 { padding-left: var(--px_24); padding-right: var(--px_24); }
.padX_32 { padding-left: var(--px_32); padding-right: var(--px_32); }
.padX_48 { padding-left: var(--px_48); padding-right: var(--px_48); }

.padY_8 { padding-top: var(--px_8); padding-bottom: var(--px_8); }
.padY_12 { padding-top: var(--px_12); padding-bottom: var(--px_12); }
.padY_16 { padding-top: var(--px_16); padding-bottom: var(--px_16); }
.padY_24 { padding-top: var(--px_24); padding-bottom: var(--px_24); }
.padY_32 { padding-top: var(--px_32); padding-bottom: var(--px_32); }
.padY_48 { padding-top: var(--px_48); padding-bottom: var(--px_48); }

.padLeft_8 { padding-left: var(--px_8); }
.padLeft_12 { padding-left: var(--px_12); }
.padLeft_16 { padding-left: var(--px_16); }
.padLeft_24 { padding-left: var(--px_24); }
.padLeft_32 { padding-left: var(--px_32); }
.padLeft_48 { padding-left: var(--px_48); }

.padRight_8 { padding-right: var(--px_8); }
.padRight_12 { padding-right: var(--px_12); }
.padRight_16 { padding-right: var(--px_16); }
.padRight_24 { padding-right: var(--px_24); }
.padRight_32 { padding-right: var(--px_32); }
.padRight_48 { padding-right: var(--px_48); }

.w_32 { width: var(--px_32); }
.h_32 { height: var(--px_32); }
.h_96 { height: var(--px_96); }

/* BORDERS */
.borderBottom {
  border-bottom: solid 1px var(--color_border);
}

.radius_circle { border-radius: 9999px; }

/* OVERFLOW */
.shrink_none { flex-shrink: 0; }

.overflow_hidden { overflow: hidden; }

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* COLORS */

.bg_gray200 { background-color: var(--color_gray200); }
.bg_background { background-color: var(--color_background); }
.bg_image { background-position: center; background-size: cover; background-repeat: no-repeat; }

.color_textSecondary { color: var(--color_textSecondary); }

/* TYPOGRAPHY */

.font_title {
  text-rendering: geometricPrecision;
  font-size: var(--font_title);
  font-family: var(--family_header);
  font-weight: var(--weight_800);
  letter-spacing: var(--letter_header);
}
.font_h1 {
  text-rendering: geometricPrecision;
  font-size: var(--font_h1);
  font-family: var(--family_header);
  font-weight: var(--weight_800);
  letter-spacing: var(--letter_header);
}
.font_label {
  font-size: var(--font_label);
  font-family: var(--family_body);
  font-weight: var(--weight_600);
}
.font_sublabel {
  font-size: var(--font_sublabel);
  font-family: var(--family_body);
  font-weight: var(--weight_400);
}
.font_linkGroupLabel {
  font-size: var(--font_linkGroupLabel);
  font-family: var(--family_body);
  font-weight: var(--weight_600);
}
.font_linkLabel {
  font-size: var(--font_linkLabel);
  font-family: var(--family_body);
  font-weight: var(--weight_400);
}

.uppercase { text-transform: uppercase; }

/* BUTTON */
.button {
  display: inline-flex;
  gap: var(--px_8);
  cursor: pointer;
  transition: background-color var(--duration_100) ease-in-out;
  font-size: var(--font_label);
  font-weight: var(--weight_600);
  color: var(--color_white);
  background-color: var(--color_primary);
  border-radius: var(--px_8);
  padding: var(--px_12) var(--px_16);
}

.button:hover {
  background-color: var(--color_primaryHover);
}
.button:active {
  background-color: var(--color_primaryActive);
}

.button--secondary {
  color: var(--button_secondaryText);
  background-color: var(--button_secondaryBg);
  border: solid 1px var(--button_secondaryBorder);
}
.button--secondary:hover { 
  background-color: var(--button_secondaryBgHover); 
}
.button--secondary:active { 
  background-color: var(--button_secondaryBgActive); 
}

/* SIDEBAR LINK */
.sidebar_link {
  cursor: pointer;
  transition: background-color var(--duration_100) ease-in-out;

  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 8px transparent;
}
.sidebar_link:hover {
  background-color: var(--sidebarLink_hoverBg);
}
.sidebar_link:active {
  background-color: var(--sidebarLink_activeBg);
}
.sidebar_link--selected {
  border-left-color: var(--color_primary);
  border-top-color: var(--color_border);
  border-bottom-color: var(--color_border);
  background-color: var(--sidebarLink_selectedBg);
}